@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<div id="bigdiv">
    <p id="title" class="text-center">Contact us</p>
    <br>
    <p id="subtitle" class="text-center">Send us information about any problems or advice you might have.</p>
    <hr>
    <form>
        <p class="text-center">First Name</p>
        <input type="text" class="name" name="fname" required />
        <br>
        <br>
        <p class="text-center">Last Name</p>
        <input type="text" class="name" name="lname" required />
        <br>
        <br>
        <p class="text-center">Your Email Address</p>
        <input type="text" class="name" name="email" required />
        <br>
        <br>
        <p class="text-center">Email Subject</p>
        <input type="text" class="name" name="subject" required />
        <br>
        <br>
        <p class="text-center">Your Message</p>
        <textarea id="message" required spellcheck="false"></textarea>
        <br>
        <br>
        <input type="checkbox" id="checkbox" required> By checking this box and submitting your information, you are granting us permission to email you.
        <br>
        <br>
        <input type="submit" class="btn btn-default" id="send" value="Send Message">
    </form>
    </div>

