@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    #titlediv {
        margin-top: 20%;
    }

    #searchdiv {
        width: 50%;
        height: 20%;
        margin: auto;
        margin-top: 5%;
    }

    #searchbar {
        width: 80%;
        padding: 12px 20px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 11px;
    }
    #submit{
        float: right;
        width: 19.5%;
        border: 1px solid #ccc;
        border-radius: 11px;
        padding: 12px 10px;
        display: inline-block;
        color: dimgrey;
        margin-left: 0.5%;
        }
</style>

<div id="titlediv" class="text-center">
    <h1 class="display-2">CompareIT</h1>
    <p>Find the best prices for the products you need.</p>
</div>

<div id="searchdiv">
    <form method="post">
        <input type="text" name="search" placeholder="Search for an item here." id="searchbar" />
        <input type="submit" value="Search" class="btn btn-default" id="submit" asp-page-handler="search"/>
    </form>
</div>
