@page "/Products"
@model WebSite.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}
<style>
    #titlediv {
        margin-top: 5%;
        margin-left: 5%;
    }

    #itemdiv {
        margin-top:1.5%;
        height: 150px;
        border: 1px solid #ccc;
        border-radius:4px;
    }
    #imagediv{
        float: left;
        width: 20%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius:2px;
    }
    #photo{
        width: 100%;
        height: 100%;
    }
    #itemDescDiv{
        float: right;
        width: 79.9%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius:2px;
    }
</style>

<div id="titlediv">
    <h2 class="display-4">Your search results:</h2>
</div>
<ul class="list-unstyled">
    @foreach (var item in Model.items)
    {
    <li>
        <div id="itemdiv">
            <a href="@item.Link">
                <div id="imagediv"><img src="Images/no-img.png" id="photo" alt="No image found."/></div>
                <div id="itemDescDiv">
                    <p>@item.Title</p>
                    <br />
                    <p>@item.Pagemap.Offer[0].Price @item.Pagemap.Offer[0].Pricecurrency</p>
                </div>
            </a>
        </div>
    </li>
    }
</ul>


