@page "/Products"
@model WebSite.Pages.ProductsModel
@{
    ViewData["Title"] = "Products";
}
<style>
    #titlediv {
        margin-top: 5%;
        margin-left: 5%;
    }

    #itemdiv {
        margin-top:1.5%;
        height: 150px;
        border: 1px solid #ccc;
        border-radius:4px;
    }
    #imagediv{
        float: left;
        width: 20%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius:2px;
    }
    #itemDescDiv{
        float: right;
        width: 79.9%;
        height: 100%;
        border: 1px solid #ccc;
        border-radius:2px;
    }
</style>

<div id="titlediv">
    <h2 class="display-4">Your search results:</h2>
</div>
<ul class="list-unstyled">
    @for (int i = 0; i < 30; i++)
    {
    <li id="@i">
        <div id="itemdiv">
            <div id="imagediv"><p>Image</p></div>
            <div id="itemDescDiv"><p>Title and description</p></div>
        </div>
    </li>
    }
</ul>


