@page
@model TimeModel
@{
    ViewData["Title"] = "Time Page";
    var same = "Hello from code block";
    var multiple = "Hello from code block ";
}
<div class="text-center">
    <h1 class="display-4">Actual Time:</h1>
    <p>Denmark: @DateTime.Now</p>
</div>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">@same</h1>
</div>
<br />
<br />
<div class="text-center">
    <ul>
        @for (int i = 0; i < 4; i++)
        {
            <li>@(multiple += i)</li>
        }
    </ul>
</div>
<br />
<br />
<div class="text-center">
    <h1 class="display-4">@Model.Says(same)</h1>
</div>